{% extends 'layout.html' %}

{% block body %}
  <div class="container">
    <div class="wrapper">
      <h1>Dojo Survey</h1>
      <div>
        <form action="/process" method="post">

          <input class="form-control form-control-sm" type="text" placeholder="First Name" name="firstName" id="firstName">
          <input class="form-control form-control-sm" type="text" placeholder="Last Name" name="lastName" id="lastName">
          <input class="form-control form-control-sm" type="text" placeholder="Email" name="email" id="email">

          <label for="location">Dojo Location:</label>
          <select class="form-control form-control-sm" name="location" id="location">
            {% for i in range(locations|length) %}
              <option value="{{locations[i]}}">{{locations[i]}}</option>
            {% endfor %}
          </select>

          <label for="progLanguage">Favorite Programming Language:</label>
          <select class="form-control form-control-sm" name="progLanguage" id="progLanguage">
            {% for i in range(languages|length) %}
              <option value="{{languages[i]}}">{{languages[i]}}</option>
            {% endfor %}
          </select>

          <p>Satisfied with your visit?</p>

          <div id="radio">

            <div>
              <input type="radio" id="one" name="satisfaction" value="We're so sorry :( :( :(">
              <label for="one">1 NO! Just no.</label>
            </div>

            <div>
              <input type="radio" id="two" name="satisfaction" value="two">
              <label for="two">2</label>
            </div>

            <div>
              <input type="radio" id="three" name="satisfaction" value="three">
              <label for="three">3</label>
            </div>

            <div>
              <input type="radio" id="four" name="satisfaction" value="four">
              <label for="four">4</label>
            </div>

            <div>
            <input type="radio" id="five" name="satisfaction" value="We'll do better!">
              <label for="five">5 Meh!</label>
            </div>

            <div>
              <input type="radio" id="six" name="satisfaction" value="six">
              <label for="six">6</label>
            </div>

            <div>
              <input type="radio" id="seven" name="satisfaction" value="seven">
              <label for="seven">7</label>
            </div>

            <div>
              <input type="radio" id="eight" name="satisfaction" value="eight">
              <label for="eight">8</label>
            </div>

            <div>
              <input type="radio" id="nine" name="satisfaction" value="nine">
              <label for="nine">9</label>
            </div>

            <div>
              <input type="radio" id="ten" name="satisfaction" value="Ecstasy!!!">
              <label for="ten">10 Ecstasy!</label>
            </div>

          </div>

          <p>You'll be back?</p>

          <div id="returning">
            <div>
            <input type="radio" id="yesReturning" name="willReturn" value="YES!!!">
              <label for="yesReturning">Absolutely!!</label>
            </div>
            <div>
            <input type="radio" id="notReturning" name="willReturn" value=":( :( :(">
            <label for="notReturning">Nah, probably not...</label>
            </div>
          </div>

          <p>What'd you like?</p>

          <div id="liked">
            <div>
            <input type="checkbox" id="design" name="goodThings" value="Design">
              <label for="design">Design</label>
            </div>
            <div>
            <input type="checkbox" id="content" name="goodThings" value="Content">
            <label for="content">Content</label>
            </div>
            <div>
            <input type="checkbox" id="service" name="goodThings" value="Service">
            <label for="service">Service</label>
            </div>
            <div>
            <input type="checkbox" id="products" name="goodThings" value="Products">
            <label for="products">Products</label>
            </div>
          </div>

          <label for="message">Comments / Suggestions:</label>
          <textarea class="form-control" placeholder="What ya thinking?" name="message" id="message" cols="60" rows="10"></textarea>
          <button class="btn btn-dark form-control" type='submit' value='submit'>Submit!</button>
        </form>
        <form action="/">
          <button class="btn btn-dark form-control" type='submit' value='Reset'>Reset Form</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}